/* ========== Variables ========== */
:root {
  --roboto: "roboto", sans-serif;
  --raleway: "raleway", sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* ========== CSS Reset ========== */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--roboto);
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* ========== General Styles ========== */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section__title {
  text-align: center;
  color: var(--dark);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
}

.logo {
  color: var(--primary-brand);
  font-family: var(--raleway);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.header-3 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
/* ========== Header ========== */
.header__logo > span {
  color: var(--dark);
}

.header__link {
  color: var(--dark);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header__address-link {
  color: var(--text);
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header__address-link:hover,
.header__address-link:focus {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/* ========== Hero ========== */
.hero {
  background-color: var(--hero-background);
  padding: 188px 0;
}

.hero__title {
  color: var(--light);
  text-align: center;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero__btn {
  align-self: center;
  background-color: var(--primary-brand);
  color: var(--light);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}
/* ========== Footer ========== */
.footer {
  background-color: var(--hero-background);
  color: var(--light);
}

.footer__logo > span {
  color: var(--light);
}
