/* ========== Variables ========== */
:root {
  --roboto: "roboto", sans-serif;
  --raleway: "raleway", sans-serif;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --linear-gradient: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* ========== CSS Reset ========== */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--roboto);
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* ========== General Styles ========== */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section__title {
  text-align: center;
  color: var(--dark);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}

.logo {
  color: var(--primary-brand);
  font-family: var(--raleway);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
}

.header-3 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.social__btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.social__btn-item {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.social__btn-link {
  color: var(--light);
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.social__btn-link:hover {
  background-color: var(--pressed-state);
}

.social__btn-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* ========== Header ========== */
.header__container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header__list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header__address {
  margin-left: auto;
}

.header__address-list {
  display: flex;
  gap: 40px;
}

.header__logo > span {
  color: var(--dark);
}

.header__link {
  color: var(--dark);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header__link:hover {
  color: var(--primary-brand);
}

.header__address-link {
  color: var(--text);
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header__address-link:hover,
.header__address-link:focus {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
/* ========== Hero ========== */
.hero {
  background-image:
    linear-gradient(var(--linear-gradient), var(--linear-gradient)),
    url(../images/hero-image-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--linear-gradient);
  padding: 188px 0;
}

.hero__title {
  color: var(--light);
  text-align: center;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-brand);
  color: var(--light);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}
/* ========== About ========== */
.about {
  padding-bottom: 0;
}
.about__list {
  display: flex;
  gap: 24px;
}
.about__item-title {
  margin-bottom: 8px;
}

.about__icon-wrap {
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about__icon {
  width: 64px;
  height: 64px;
}

/* ========== Service ========== */
.service__list {
  display: flex;
  gap: 24px;
}
/* ========== Team ========== */
.team {
  background-color: var(--light);
}

.team__list {
  display: flex;
  gap: 24px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white-background);
}

.team__name {
  margin: 32px 0 8px;
}
.team__role {
  margin-bottom: 8px;
}

/* ========== Customers ========== */
.customers__list {
  fill: var(--subtle-text);
  display: flex;
  gap: 24px;
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  color: var(--subtle-text);
  border: 1px solid var(--subtle-text);
}

.customers__item:hover {
  color: var(--primary-brand);
  border-color: var(--primary-brand);
}

.customers__icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
/* ========== Footer ========== */
.footer {
  padding: 100px 0;
  background-color: var(--hero-background);
  color: var(--light);
}
.footer__wrap {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.footer__text {
  margin-top: 16px;
}
.footer__logo > span {
  color: var(--light);
}

.footer__social-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px /* 150% */;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer__social-link:hover {
  background-color: var(--success);
}
